<form [formGroup]="shippingForm" class="form-signin my-container" (ngSubmit)="onSubmit()" novalidate>
     <h3> Shipping Information</h3>
  
    <div class="form-group text-left row">
      <label for="name" class="col-sm-2">Name</label>
      <div class="col-sm-10">
        <input formControlName="name" type="name" id="name" class="form-control form-control-sm" placeholder="Enter Full Name" autofocus>
  
        <div class="alert alert-danger p-0 pl-2 pl-2 mb-0" role="alert"
          *ngIf="shippingForm.controls['name'].touched && shippingForm.controls['name'].hasError('required')">
          Full Name is <strong>Required</strong>
        </div>
      </div>
    </div>

    <div class="form-group text-left row">
      <label for="address" class="col-sm-2">Address</label>
      <div class="col-sm-10">
        <input formControlName="address" type="address" id="address" class="form-control form-control-sm" placeholder="Enter address" autofocus>
  
        <div class="alert alert-danger p-0 pl-2 mb-0" role="alert"
          *ngIf="shippingForm.controls['address'].touched && shippingForm.controls['address'].hasError('required')">
          Address is <strong>Required</strong>
        </div>
      </div>
    </div>

    <div class="form-group text-left row">
      <label for="apartment" class="col-sm-2">Apartment</label>
      <div class="col-sm-10">
        <input formControlName="apartment" type="suit" id="apartment" class="form-control form-control-sm" placeholder="Enter Apartment or Suit" autofocus>
  
        <div class="alert alert-danger p-0 pl-2 mb-0" role="alert"
          *ngIf="shippingForm.controls['apartment'].touched && shippingForm.controls['apartment'].hasError('required')">
          Suit or Apartment is <strong>Required</strong>
        </div>
      </div>
    </div>

    <div class="form-group text-left row">
      <label for="zipCode" class="col-sm-2">ZipCode</label>
      <div class="col-sm-10">
        <input formControlName="zipCode" type="zipCode" id="zipCode" class="form-control form-control-sm" placeholder="Enter Zip Code" autofocus>
  
        <div class="alert alert-danger p-0 pl-2 mb-0" role="alert"
          *ngIf="shippingForm.controls['zipCode'].touched && shippingForm.controls['zipCode'].hasError('required')">
          Zip Code is <strong>Required</strong>
        </div>
      </div>
    </div>

    <div class="form-group text-left row">
      <label for="city" class="col-sm-2">City</label>
      <div class="col-sm-10">
        <input formControlName="city" type="city" id="city" class="form-control form-control-sm" placeholder="Enter City" autofocus>
  
        <div class="alert alert-danger p-0 pl-2 mb-0" role="alert"
          *ngIf="shippingForm.controls['city'].touched && shippingForm.controls['city'].hasError('required')">
          City is <strong>Required</strong>
        </div>
      </div>
    </div>

    <div class="form-group text-left row">
      <label for="state" class="col-sm-2">State</label>
      <div class="col-sm-10">
        <input formControlName="state" type="state" id="state" class="form-control form-control-sm" placeholder="Enter State" autofocus>
  
        <div class="alert alert-danger p-0 pl-2 mb-0" role="alert"
          *ngIf="shippingForm.controls['state'].touched && shippingForm.controls['state'].hasError('required')">
          State is <strong>Required</strong>
        </div>
      </div>
    </div>

    <div class="form-group text-left row">
      <label for="country" class="col-sm-2">Country</label>
      <div class="col-sm-10">
        <input formControlName="country" type="country" id="country" class="form-control form-control-sm" placeholder="Enter Country" autofocus>
  
        <div class="alert alert-danger p-0 pl-2 mb-0" role="alert"
          *ngIf="shippingForm.controls['country'].touched && shippingForm.controls['country'].hasError('required')">
          Country is <strong>Required</strong>
        </div>
      </div>
    </div>

    <div class="form-group text-left row">
      <label for="phone" class="col-sm-2">Phone</label>
      <div class="col-sm-10">
        <input formControlName="phone" type="phone" id="phone" class="form-control form-control-sm" placeholder="Enter Phone" autofocus>
  
        <div class="alert alert-danger p-0 pl-2 mb-0" role="alert"
          *ngIf="shippingForm.controls['phone'].touched && shippingForm.controls['phone'].hasError('required')">
          Phone is <strong>Required</strong>
        </div>
      </div>
    </div>

    <div class="form-group text-left row">
      <label for="email" class="col-sm-2">Email</label>
      <div class="col-sm-10">
        <input formControlName="email" type="email" id="email" class="form-control form-control-sm" placeholder="Enter Email" autofocus>
  
        <div class="alert alert-danger p-0 pl-2 mb-0" role="alert"
          *ngIf="shippingForm.controls['email'].touched && shippingForm.controls['email'].hasError('required')">
          Email is <strong>Required</strong>
        </div>
      </div>
    </div>
  
    <button class="btn btn-lg btn-dark btn-block" type="submit">Continue Check Out</button>
  </form>
  