<div class="card text-center" *ngIf="order" style="max-width: 500px;">
  <div class="card-header">
    <h4 class="card-title mb-0">Order Summary</h4>
  </div>
  <div class="card-body">

    <p class="card-text">You ordered {{order.items.length}} items</p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of order.items" class="list-group-item">
        <div class="float-left">
          {{item.quantity}} x {{item.product.title}}
        </div>
        <div class="float-right">
          {{item.totalPrice | currency:'USD':true}}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        <div class="float-left">
          Total
        </div>
        <div class="float-right">
          <!-- {{order.totalPrice | currency:'USD':true}} -->
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer text-muted">
    Shipping Details
  </div>
</div>
